.header{
font-family: Inter;
font-weight: 400;
text-align: center;
padding-top: 34px;
left: 513px;
opacity: 1;
padding-bottom: 91px;

}

.header__image{

}

.header__title{
margin: 0;
padding-top: 22px;
}