.header{
text-align: center;

width: 254.8373565673828;
height: 68.94309997558594;
padding-top: 34px;
left: 513px;
opacity: 1;
padding-bottom: 91px;

}

.header__image{

}

.header__title{
margin: 0;
padding-top: 22px;
}